@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  @apply flex flex-col min-h-screen;
}

.sidebar {
  @apply flex flex-col bg-gray-800 text-white p-2 min-w-[4rem];
}

.sidelink {
  @apply p-2 rounded-lg  transition-all duration-200 ease-in-out hover:bg-opacity-20 hover:bg-slate-500;
}

.btn-primary {
  @apply bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600;
}

.btn-card {
  @apply flex justify-center items-center text-gray-300 bg-gray-800 hover:bg-sky-800 active:bg-slate-700;
}

.btn-card-delete {
  @apply flex bg-gray-800 h-4 w-[3rem] rounded-t-xl;
}

.btn-participant-delete {
  @apply cursor-pointer w-[2.5rem] h-[2.5rem] bg-gray-100 rounded-full absolute justify-center items-center flex -left-1 -top-1 ring-[1px] p-4 ring-zinc-400
        hover:bg-red-400 hover:ring-red-500 hover:ring-2 hover:text-white transition-all duration-300 ease-in-out;
}

.btn-start {
  @apply text-gray-300 bg-gray-800 px-4 py-3 ring ring-orange-500 ring-offset-2 ring-offset-gray-100 rounded-full 
        hover:ring-offset-orange-300 hover:ring-offset-4 hover:text-orange-400
        transition-all duration-100 ease-in;
}

.input-primary {
  @apply border rounded-md px-4 py-2 focus:outline-none focus:border-blue-500 text-gray-300;
}

.retract {
  @apply h-0;
}

.extend {
  @apply h-[10rem];
}
.event-extension {
  @apply transition-all duration-300 ease-in-out overflow-hidden text-gray-700 shadow;
}

.participantcard {
  @apply text-gray-700 drop-shadow-lg shadow-xl rounded-xl;
}

.participants-container {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 gap-4 mt-4;
}

.card {
  @apply shadow-xl p-[1px] rounded-lg hover:scale-105 cursor-pointer transition-all duration-100 ease-in;
}

.toggle-label {
  @apply cursor-pointer;
}

.toggle-button {
  @apply inline-block relative w-[2.5rem] h-[1.5rem] rounded-[1rem] bg-gray-300 transition-all duration-100 ease-in;
  
}

.toggle-button::before {
  @apply absolute w-[1.5rem] h-[1.5rem] bg-white content-[''] transition-all duration-200 ease-in-out rounded-full;
}

.toggled {
  @apply bg-green-400;
}

.toggled::before {
  @apply translate-x-[1rem];
}

.participant-toggle {
  @apply ring-2 ring-green-500 shadow-md shadow-green-700 transition-all duration-300 ease-in;
}

.column-container {
  flex: 1;
  break-inside: avoid-column;
  column-count: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
